body {
    margin:0px;
    background-color:#EEE;
}

br {
    clear: both;
}

.header {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin: auto;
    background-color: lightgray;
}

.search-input {
    width: 300px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.search-button {
    float: left;
    background-color: #BB0084;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    height: 33px;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 45px;
    float: left;
}

.login-input {
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.submit {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #BB0084;
    color: white;
}

.submit:hover {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #990088;
    color: #BBB;
}

.cancel {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #882242;
    color: white;
}

.cancel:hover {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #662242;
    color: #BBB;
}


.login-container-link {
    margin-left: 11px;
    margin-bottom: 5px;
    float: left;
    color: black;
}

.login-container-link:hover {
    color: #BB0084;
    text-decoration: none;
}

.header-text {
	margin-top: 15px;
	float: left;
}

.navbar {
    margin-top: 75px;
    background-color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #BB0084;
}

.navbar-default .navbar-nav > .active{
    color: white;
    background: #BB0084;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: #BB0084;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.book {
    background: #F0F0F0;
    border: 1px solid #CCC;
    margin: 15px;
    width: 250px;
    float: left;
}
.option {
    background: #c0c0c0;
    width: 248px;
    float: left;
}
.option-edit {
    background: #7f7f7f;
    width: 124px;
    float: left;
    color: #d7d7d7;
    text-align: center;
}

.option-edit:hover {
    background: #9f9f9f;
    width: 124px;
    float: left;
    color: #d7d7d7;
    border: none;
    text-align: center;
}

.option-remove {
    background: #aa0000;
    width: 124px;
    float: left;
    color: #d7d7d7;
    text-align: center;
}

.option-remove:hover {
    background: #cc0000;
    width: 124px;
    float: left;
    color: #d7d7d7;
    border: none;
    text-align: center;
}

.option-view {
    background: #990066;
    width: 248px;
    float: left;
    color: #CCC;
    border: none;
    text-align: center;
}

.option-view:hover {
    background: #BB0066;
    width: 248px;
    float: left;
    color: white;
    text-align: center;
}

.info {
    background: #E0E0E0;
    width: 248px;
}
.title{
	font-size: 18px;
	text-align: center;
}
.author{
	font-size: 14px;
	text-align: center;
}
.description{
	font-size: 12px;
	text-align: center;
}
.login{
	float: rigth;
	widows: 30px;
}

.btn-list{
	float: left;
}


img {
	width: 200px; 
	height: 250px; 
	display: block; 
	margin: 0 auto;
}

th {
	text-align: left;
}